* { margin: 0; padding: 0; font-family: "Microsoft YaHei", "serif", "sans-serif", "cursive", "fantasy", "monospace"; font-size: 1em; }
@font-face {
    font-family: 'PingFang-Medium';
    src: url('../fonts/PingFang Medium.ttf');
}
html, body { width: 100%; height: 100%; background-color: #000000 !important; }
.d-ib { display: inline-block; }
.f-l { float: left; }
.f-r { float: right; }
.t-a-r { text-align: right; }
.whole-h { height: 100%; }
.c-b { color: #000000; }
.bg-c-w { background-color: #ffffff; }
.p-t-35 { padding-top: 35px; }
.p-t-45 { padding-top: 45px; }
.app { width: 75%; height: 100%; margin: 0 auto; }
.p-l-0 { padding-left: 0 !important; }
.p-r-0 { padding-right: 0 !important; }
.m-t-50 { margin-top: 50px; }
.m-t-40 { margin-top: 40px; }
.m-t-30 { margin-top: 30px; }
.m-t-20 { margin-top: 20px; }
.m-t-10 { margin-top: 10px; }
.m-b-50 { margin-bottom: 50px; }
.m-b-40 { margin-bottom: 40px; }
.m-b-30 { margin-bottom: 30px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-10 { margin-bottom: 10px; }
.h-50 { height: 50px; }
.h-40 { height: 40px; }
.h-30 { height: 30px; }
.h-20 { height: 20px; }
.h-10 { height: 10px; }
.p-r { position: relative; }
.p-a { position: absolute; }
/**************************************************
 ****************    index样式    *****************
 **************************************************/
.index-header { height: 150px; width: 100%; background-color: #FFFFFF; }
.index-header .main-title { font-weight: bold; font-size: 1.5em; letter-spacing: 5px; }
.index-header .sub-title { color: #999999; font-size: .9em; margin-top: 5px; letter-spacing: 1px; }
ul.top-bar, ul.nav-bar, ul.sub-nav-bar { list-style-type: none; margin-right: 10px; }
ul.top-bar li > a, ul.top-bar li button {
    color: #3E5AA8 !important;
    font-size: .9em;
    padding: 0 !important;
    outline: 0 !important;
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
ul.nav-bar li { padding-right: 25px; }
ul.nav-bar li a, ul.nav-bar li button {
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    outline: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
ul.nav-bar li > a:hover {
    color: cornflowerblue;
    border-bottom: 2px cornflowerblue solid;
}
ul li img { margin-bottom: 2px; }
.header-bottom-bar { position: absolute; bottom: 0; width: 100%; }
.index-header .sub-header-bottom-bar {
    display: none;
    position: fixed;
    top: 150px;
    right: 250px;
    background-color: rgba(67, 98, 182, 0.7);
    padding: 20px;
    z-index: 99;
}
ul.sub-nav-bar { margin-bottom: 0; }
ul.top-bar li, ul.sub-nav-bar li { color: #999999; font-size: .9em; padding: 0 15px; }
ul.sub-nav-bar li a {
    color: #ffffff;
    font-size: 1em;
    outline: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
    cursor: pointer;
    border: none !important;
}
ul.sub-nav-bar li a:hover { color: #000; }
.return-top-btn { z-index: 2; right: 30px; top: -35px; }
/**************************************************
 *****************    home样式    *****************
 **************************************************/
.index-container { width: 100%; margin: 0 auto; }
.index-container .well { border-radius: 0; margin-bottom: 0; }
.index-container .aboutus, .index-container .information {
    background-color: #4362B6;
    border: 1px #4362B6 solid;
    color: #fff;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}
.index-container .main-title, .information-content-text .main-title { font-weight: bold; font-size: 1.5em; letter-spacing: 2px; }
.index-container .sub-title, .information-content-text .sub-title { font-size: .9em; letter-spacing: 1px; }
.aboutus .border-bottom, .information .border-bottom { border-bottom: 3px white solid; }
.aboutus-text { letter-spacing: 2px; line-height: 20px; }
.aboutus-btn-div { letter-spacing: 2px; line-height: 20px; }
.aboutus-btn {
    color: #fff;
    font-size: 1.2em;
    background-color: transparent;
    outline: 0;
    border: 1px #fff solid;
    border-radius: 20px;
    padding: 5px 40px;
}
.aboutus-video { width: 100%; height: 100%; }
.index-container .business, .index-container .news {
    background-color: #fff;
    border: 1px #fff solid;
    color: #4362B6;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}
.business .border-bottom, .news .border-bottom, .index-bottom .border-bottom { border-bottom: 3px #4362B6 solid; }
.business img, .information img { max-width: 100%; }
.information-content-text { color: #000; }
.information .information-btn { color: #8398CF; background-color: #DCE1F1; border-color: #8398CF; }
.information .well { height: 237px; }
.information img { height: 237px; }
.news .media-object { max-width: 190px; }
.news .media-heading { color: #000000; }
.news .media-body { color: #999999; }
.news .time-font { font-size: .8em; }
.news-bottom-btn { font-size: 1.3em; }
.index-bottom.well { border-radius: 0; }
.colorful-bar { height: 4px; background-image: linear-gradient(to right, #EB602E 0, #FCBC37 33%, #457CBE 66%, #2D3A86 100%) }
.index-bottom .main-title { font-size: 1.1em; }
.index-bottom .sub-title { color: #999999; }
.contactus .sub-title img { margin-bottom: 2px; max-width: 15px; }
.index-bottom-bar { border-top: 1px #cacaca solid; margin-top: 15px; }
.index-bottom-bar ul li, .index-bottom .sub-title { color: #999999; font-size: .9em; }
.index-bottom-bar img { max-width: 20px; }
/**************************************************
 ************    aboutus-html样式    **************
 **************************************************/
.aboutus-html img { max-width: 100%; height: 100%; }
.aboutus-html ul.breadcrumb { margin-bottom: 0; }
.aboutus-html ul.aboutus-nav-bar li { padding-right: 20px; }
.aboutus-html ul.aboutus-nav-bar li a:hover { border-bottom: 2px #8398CF solid; }
.aboutus-html ul.aboutus-nav-bar li a {
    color: #666666;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
.aboutus-html .border-bottom { border-bottom: 1px #cacaca solid; }
.aboutus-container .main-title {
    font-family: PingFangSC-Regular, Arial, fantasy;
    font-size: 4em;
    color: #bbbbbb;
    letter-spacing: 0;
}
.aboutus-container .sub-title {
    font-size: 2em;
    color: #333333;
    letter-spacing: 0;
    line-height: 0;
}
.aboutus-container p {
    text-indent: 2em;
    margin-top: 25px;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.aboutus-container .main-text {
    font-family: PingFangSC-Regular, Arial, fantasy;
    font-size: 1.1em;
    color: #666666;
}
.aboutus-container .well-text { line-height: 30px; }
