/*通用*/
*:focus {
    border: 1px solid skyblue;
    -webkit-box-shadow: cornflowerblue 0 0 5px;
    -moz-box-shadow: cornflowerblue 0 0 5px;
    box-shadow: cornflowerblue 0 0 5px;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #000;
    background-size: cover;
    font-family: '楷体', '微软雅黑', Arial, cursive, fantasy;
    color: white;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(26, 15, 72, 0.3) 40%, rgba(62, 43, 120, 0.2) 50%, rgba(26, 12, 84, 0.3) 60%),
    radial-gradient(rgba(150, 0, 0, 0.2) 20%, rgba(100, 0, 0, 0.2) 30%, rgba(33, 100, 19, 0.2) 50%, #000 100%);
}

ul, li {
    padding-left: 0;
    list-style-type: none;
}

li {
    margin: 5px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
   not supported by any browser */
}

.inline-block {
    display: inline-block;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.title-text {
    text-shadow: 0 0 2px firebrick;
}

.article-text {
    text-shadow: 0 0 1px black;
}

.open, .fold,
.open:active, .open:visited, .open:focus,
.fold:active, .fold:visited .fold:visited {
    outline: 0;
    margin: 5px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    float: right;
    font-size: large;
    color: #FFF;
    text-shadow: 0 0 2px #000;
    cursor: pointer;
}

.open:after {
    content: '▲';
}

.fold:after {
    content: '▼';
}

/*顶部卡片*/
.headerCard {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.6) 100%);
    z-index: 99;
    border: 1px #ccc solid;
    width: 85%;
    margin-left: 3%;
    -webkit-box-shadow: 0 0 15px white;
    -moz-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.headerCard #logo {
    background: url("../image/logo.png") 0 center no-repeat;
    background-size: cover;
    width: 100px;
    height: 70px;
    margin: 4px 10px;
    float: left;
}

.headerCard ul {
    min-width: 90%;
}

.headerCard ul li {
    float: left;
    margin: 15px 5%;
}

.headerCard ul li:hover {
    animation: moveRight .3s forwards;
    -webkit-animation: moveRight .3s forwards;
}

@keyframes moveRight {
    from {
        margin-left: 5%;
    }
    to {
        margin-left: 7%;
    }
}

.headerCard ul li a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2em;
    top: 5px;
}

/*个人名片*/
.leftCard {
    background-color: black;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.6) 100%);
    width: 15%;
    position: fixed;
    top: 100px;
    left: 3%;
    border: 1px #ccc solid;
}

.leftCard .photoPic img {
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px 25%;
}

.leftCard .shortIntroduction {
    text-align: center;
}

.leftCard .shortIntroduction .cName {
    font-size: 2em;
    text-shadow: 0 0 2px #000;
}

.leftCard .context {
    margin: 10px;
}

.leftCard .context a {
    box-shadow: none !important;
    border: none;
}

.leftCard .subImg a {
    text-decoration: none;
    width: 25px;
    height: 25px;
}

.leftCard .downloadResume a {
    box-shadow: none !important;
    border: none;
}

.leftCard .downloadResume .downloadBtn {
    background-color: transparent;
    color: white;
    font-family: '楷体', '微软雅黑', Arial, cursive, fantasy;
    cursor: pointer;
    width: 135px;
    height: 40px;
    background: url('../image/downloadBtn.png') 0 1px;
    margin: 10px 18%;
    border: none;
}

.leftCard .downloadResume .downloadBtn:hover {
    animation: downloadBtnChange ease-out 0.5s;
    animation-fill-mode: forwards;
}

@keyframes downloadBtnChange {
    from {
        background-position: 0 1px;
    }
    to {
        background-position: 0 40px;
    }
}

@-moz-keyframes downloadBtnChange /* Firefox */
{
    from {
        background-position: 0 1px;
    }
    to {
        background-position: 0 40px;
    }
}

@-webkit-keyframes downloadBtnChange /* Safari 和 Chrome */
{
    from {
        background-position: 0 1px;
    }
    to {
        background-position: 0 40px;
    }
}

@-o-keyframes downloadBtnChange /* Opera */
{
    from {
        background-position: 0 1px;
    }
    to {
        background-position: 0 40px;
    }
}

/*中央主卡片*/
/*row1*/
.centerCard {
    background-color: black;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.6) 100%);
    position: absolute;
    width: 65%;
    top: 100px;
    left: 23%;
    border: 1px #ccc solid;
    text-indent: 2em;
    -webkit-box-shadow: 0 0 15px white;
    -moz-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.centerCard h1 {
    font-weight: bold;
}

.centerCard .row1 .article-text {
    padding: .5em 2em;
}

/*row2*/
.centerCard .basicInfo {
    display: inline-block;
    width: 45%;
    border-right: 1px solid #CCCCCC;
    vertical-align: top;
}

.centerCard .basicInfo .infoTitle {
    font-size: 1.2em;
    display: inline-block;
    width: 40%;
}

.centerCard .basicInfo .infoContent {
    display: inline-block;
}

.centerCard .Ability {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding-left: 3%;
}

.centerCard .Ability div {
    display: inline-block;
    width: 25%;
    text-align: left;
    margin: 5px;
}

.centerCard .Ability .process {
    display: inline-block;
    width: 25%;
    margin: 5px;
}

/*row3*/
#main {
    width: 90%;
    height: 300px;
}

/*row4*/
.interest {
    width: 98%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
}

.interest ul li {
    height: 500px;
    float: left;
    cursor: pointer;
}

.interest .pic1, .interest .pic2, .interest .pic3, .interest .pic4 {
    background-size: cover;
}

.interest .pic1 {
    background-image: url('../image/zongyi.jpg');
}

.interest .pic2 {
    background-image: url('../image/biancheng.jpg');
}

.interest .pic3 {
    background-image: url('../image/yinyue.jpg');
}

.interest .pic4 {
    background-image: url('../image/youxi.jpg');
}

.interest .txt {
    background: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100%;
    text-indent: 0;
}

.interest .txt p {
    float: left;
    color: #fff;
}

.interest .txt .p1, .interest .txt .p2 {
    margin-left: 10px;
    font-family: '微软雅黑', cursive;
    padding: 25px 25px 0 2px;
}

.interest .txt .p1 {
    width: 15px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-shadow: red 0 0 1px;
}

.interest .txt .p2 {
    width: 10px;
    font-size: 10px;
}

/*回到顶部小按钮*/
.returnTopCard {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 60px;
}

.returnTopBtn {
    color: white;
    background-color: transparent;
    border: none;
    font-size: .9em;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.4) 100%);
    font-family: '楷体', '微软雅黑', Arial, cursive, fantasy;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px white;
    -moz-box-shadow: inset 0 0 5px white;
    box-shadow: inset 0 0 5px white;
}

.static-star {
    border-radius: 40%;
    opacity: .3;
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: fixed;
    box-shadow: none;
    border: 1px solid transparent;
    animation: flash 2s infinite;
    animation-direction: alternate;
}

@keyframes flash {
    from {
        opacity: .1;
        box-shadow: none;
    }
    to {
        opacity: .6;
        box-shadow: 0 0 5px 1px rgba(255, 255, 255, .3);
    }

}

.move-star {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    opacity: 0;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .3);
}

.move-star:after {
    content: '    ';
    display: block;
    top: 0;
    left: 4px;
    border-width: 1px 0 2px 200px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(111, 111, 111, .2);
}